name: Publish Docs to GitHub Pages

on:
  push:
    branches:
      - release  

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install package and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install sphinx>=7.0.0 sphinx-rtd-theme>=2.0.0 sphinx-autodoc-typehints>=1.24.0 myst-nb>=1.0.0 ipykernel>=6.0.0 sphinx_book_theme

      - name: Build Sphinx documentation
        run: |
          cd docs
          sphinx-build -b html . _build/html

      - name: List files in build directory
        run: ls -R ./docs/_build/html

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/_build/html/

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
